<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8Y4YT-E9WLdCNYFFnZk7Lcp5hm6R374k</string>
	<key>GCM_SENDER_ID</key>
	<string>101760414342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.benesseHackathon202408</string>
	<key>PROJECT_ID</key>
	<string>benesse-hackathon-2024-08</string>
	<key>STORAGE_BUCKET</key>
	<string>benesse-hackathon-2024-08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101760414342:ios:0437875724aac44bdf9707</string>
</dict>
</plist>